@charset "utf-8";
/* 使用予定フォント */
/* font-family: 'Hina Mincho', serif;
font-family: 'Homemade Apple', cursive; */





body {
    height: 100%;
    width: 100%;
    background-image: url(../images/28300215_m.jpg);
    background-repeat: repeat-x;
    animation: loop 18s linear infinite;
    background-size: cover;
    text-align: center;
}
@keyframes loop {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2000px 0; /* 画像のマイナス幅 */
    }
}
header {
    font-family: 'Homemade Apple',cursive;
    font-size: 150px;
    display: flex;
    width: 100%;
    height: 450px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}


ul {
    font-family: 'Hina Mincho', serif;
    font-size: 50px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    color: #ffffff;
}
@media screen and (max-width:900px)  {
    body {
        height: 100vh;
    }
    header {
        height: 80vh;
        font-size: 60px;
    }
    ul {
        height: 20vh;
        display: block;
        font-size: 40px;
    }
    li {
        margin-bottom: 20px;
    }
}